.about {
justify-content: center;
}

.content {
    /* width: 80% */
}

.row {
display: flex;
flex-wrap: wrap;
/* margin-right: -15px;
margin-left: -15px; */
margin: 0 auto;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #494949;
display: flex;
padding: 0px;
justify-content: space-between;
}    
    
li {
/* float: left; */
}

li a {
display: block;
color: white;
text-align: center;
padding: 12px 14px;
text-decoration: none;
}
li a:click
{
background-color: white;
}
li a:hover {
background-color: greenyellow;
}
.me
{
/* float: left; */
}
.ID {
display: flex;
width: 150px;
height: 200px;
    }
github {
color: black;
}
.linkedin {
color: blue;
}
.overflow {
color: orange;
}
.aside {
margin-top: 20px;
/* float: right; */
/* width: 270px; */
/* width: 20%; */
background: #ffffff;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bolder;
text-align: center;
    }
.Click-Game {
width: 100%;
}
.NewsScraper {
width: 100%;
}
.SoccerFriend {
width: 100%;
}
.yougoall {
width: 100%;
}
.Trivia {
width: 100%;
}
.giphypopulator {
width: 100%;
}
